/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie całego formularza */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Stylowanie nagłówka */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Stylowanie etykiet */
label {
    display: block;
    margin-bottom: 5px;
}

/* Stylowanie pól tekstowych */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Stylowanie przycisku */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Stylowanie przycisku po najechaniu myszką */
button:hover {
    background-color: #0056b3;
}
/* Stylowanie menu górnego */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Styl dla formularza */
#colorForm {
    margin-bottom: 20px;
}

/* Styl dla etykiety */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Styl dla pola tekstowego */
#colorInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 200px;
}

/* Styl dla przycisku Submit */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    margin-top: 10%;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Styl dla ukrytego diva */
#hiddenDiv {
    margin-top: 20px;
}

/* Styl dla wyświetlania koloru */
#colorDisplay {
    font-weight: bold;
    color: #4CAF50;
}

/* Styl dla listy kolorów */
#colorList {
    list-style-type: none;
    padding: 0;
}

#colorList li {
    margin-bottom: 5px;
    font-size: 16px;
}
